*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: aliceblue;
    background-image: radial-gradient(white,skyblue);
    display: flex;
    flex-direction: column;
}

header,footer{
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

nav{
    background-color: white;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

nav a,
nav a:visited{
    color: black;
}

nav a:hover,
nav a:focus{
    color: red;
    outline: 2px solid blue;
}

main{
    flex-grow: 1; /* this will make the main to occup remaining space in the body. this will make the footer to stick to the bottom. */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}

.card{
    scroll-margin-top: 8rem;
    width: 100%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card figure{
    display: flex;
    flex-flow: column nowrap;
}

.card img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px double black;
    margin-bottom: 10px;
}

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

/* Mobile Phones (up to 480px) */
@media (max-width: 480px){

    nav{
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1.1rem;
    }

    .card{
        width: 100%;
    }

    .card figcaption{
        font-size: 1.5rem;
    }

    header h1{
        font-size: 1.5rem;
    }
}

/* Small Tablets & Large Phones */
@media (min-width: 481px) and (max-width: 768px){

    .container{
        grid-template-columns: repeat(2, 1fr);
    }

    nav{
        font-size: 1.3rem;
    }
}

/* Large Screens (1200px and up) */
@media (min-width: 1200px){

    .container{
        gap: 80px;
    }

    .card{
        padding: 30px;
    }
}

/* All Mobile Devices (up to 600px) */
@media (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
    }

    nav{
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1.1rem;
    }
}

/* Tablets (601px to 920px) */
@media (min-width: 601px) and (max-width: 920px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}










